<h1>Deportes</h1>

<div class="card text-center">
  <div class="card-header">
   Colo Colo  fuera de la Copa Chile</div>
  <div class="card-body">
    <h2 class="card-title">Presidente de Colo Colo golpea la mesa tras quedar fuera de la Copa Chile: “Es una desilusión, no estoy para nada contento”</h2>
    <img class="card-img-top" src="https://www.latercera.com/resizer/QRBPaahGlbmXgL0W_tMCZfULZAo=/900x600/smart/cloudfront-us-east-1.images.arcpublishing.com/copesa/NLPQN26J5REY3ASPVIY7TZH4DA.jpg" alt="Card image cap">
    <p class="card-text">Alfredo Stöhwing lamentó que el equipo de Gustavo Quinteros no pudiese avanzar a la siguiente ronda tras caer en el resultado global ante Ñublense, en los octavos de final de la Copa Chile.</p>
    <a href="#" class="btn btn-primary">Ver más</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>

<hr>

<div class="card mb-3">
  <img class="card-img-top" src="https://www.latercera.com/resizer/PForzgKf5pMEuVWuJmqhyiahyLE=/900x600/smart/cloudfront-us-east-1.images.arcpublishing.com/copesa/73D6VZ7JMVEIZHAFTWBZMUH3VY.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Cinco confirmados y un posible clásico universitario en el horizonte: las llaves de cuartos de final de la Copa Chile</h5>
    <p class="card-text">Ñublense, Cobreloa, Magallanes, Unión Española y Antofagasta están en la ronda de los ocho mejores. De ratificarse el paso de Católica, tras la suspensión ante Audax, su rival será la U o Cobresal, que definen su serie este lunes.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>

<hr>
<hr>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Futbol</h5>
        <p class="card-text">Cruzados se disculpa y apunta a “hinchas” tras el escándalo en San Carlos: “Delinquieron, destrozaron, robaron, incluso al extremo de amenazar”</p>
        <a href="#" class="btn btn-primary">Ver más</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Hockey</h5>
        <p class="card-text">Mundial Hockey Césped Femenino Masters: Chile vence a Escocia y se queda con el quinto puesto de la cita planetaria</p>
        <a href="#" class="btn btn-primary">Ver más</a>
      </div>
    </div>
  </div>
   <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">MotorSport</h5>
        <p class="card-text">Seleccionados chilenos de motocross disputarán nueva fecha del Chile MX</p>
        <a href="#" class="btn btn-primary">Ver más</a>
      </div>
    </div>
  </div>
   <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">MotorSport</h5>
        <p class="card-text">La Fórmula 1 podría ser deporte olímpico</p>
        <a href="#" class="btn btn-primary">Ver más</a>
      </div>
    </div>
  </div>
</div>