<h1>Farándula</h1>

<hr>

<div class="card mb-3">
  <img class="card-img-top" src="https://g5noticias.cl/wp-content/uploads/2022/08/f608x342-6675_36398_126.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">  Muere Zalo Reyes, ícono de la cultura popular chilena </h5>
    <p class="card-text">Recordado por hits inmortales como "Con una lágrima en la garganta", o "Ramito de violetas", el "Gorrión de Conchalí" fue uno de los primeros ídolos realmente populares de la música chilena que aprovechó el boom de la TV para amplificar aún más su figura. Tuvo una participación incluso en el Festival de Viña, de 1983.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>

<hr>

<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="https://www.latercera.com/resizer/griLt-Bev-RfTuga-jOjd9GH6PA=/0x12:1600x812/360x180/cloudfront-us-east-1.images.arcpublishing.com/copesa/OZ5TY3K5CBAUTIQ7IFBNRKN35E.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Espectáculos</h5>
      <p class="card-text">Joe Jonas: “No me avergüenzo”: Joe Jonas confesó que ha usado bótox para verse más joven</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://www.publimetro.cl/resizer/MNYHrswJwD0hNO4Aq2t3I7oGq6A=/274x154/filters:format(jpg):quality(70)/cloudfront-us-east-1.images.arcpublishing.com/metroworldnews/ZHTFUQ4EKZE2BBCY4JP5SU7SOY.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Famosos</h5>
      <p class="card-text">“Está enganchado, dándolo todo”: aseguran que Mauricio Pinilla llevaría “tres meses” de intensa relación con Gala Caldirola
“Está enganchado, dándolo todo”: aseguran que Mauricio Pinilla llevaría “tres meses” de intensa relación con Gala Caldirola</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://www.latercera.com/resizer/u-XI_iA8AQYzVVQX50N9yuiVgAc=/400x267/smart/filters:quality(70):format(webp)/cloudfront-us-east-1.images.arcpublishing.com/copesa/OAJIF267MBH4ZE4WF4QJBOONIA.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Mascotas</h5>
      <p class="card-text">Bienvenido a casa: 6 consejos esenciales para recibir a un gato por primera vez</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>