<h1>Internacional</h1>
<hr>

<div class="card bg-dark text-white">
  <img class="card-img" src="https://lacarabuenadelmundo.com/wp-content/uploads/2022/08/descubrio-un-asteroide.webp" alt="Card image">
  <div class="card-img-overlay">
    <h5 class="card-title">Niña de 11 años descubrió un asteroide con el que sorprendió a la NASA</h5>
    <p class="card-text">Con apenas 11 años, Ashley Martinez Ocampo, originaria de Jojutla, Morelos, descubrió un asteroide identificado como 2021 FD26 reconocido por la NASA. La niña mexicana se llevó el premio que la acompañará toda su vida, ya que en un futuro podrá cambiarle el nombre, cuando luego de atravesar un proceso de estudios y se conozca la órbita del cuerpo espacial</p>
    <p class="card-text">Last updated 3 mins ago</p>
  </div>
</div>

<hr>

<div class="card-columns">
  <div class="card">
    <img class="card-img-top" src="https://lacarabuenadelmundo.com/wp-content/uploads/2021/08/Me%CC%81xico-inaugura-la-primera-carretera-hecha-con-pla%CC%81stico-reciclado-1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">México inaugura la primera carretera hecha con plástico reciclado</h5>
      <p class="card-text">La carretera Irapuato-La Piedad, en Guanajuato, se convirtió en la primera en México en haber sido modificada con plástico postconsumo y resina Evaloy de Dow, lo que en teoría alargará su vida útil hasta en 50 % comparado con el asfalto convencional </p>
    </div>
  </div>
  <div class="card p-3">
    <blockquote class="blockquote mb-0 card-body">
      <p>“Es un error pensar que se pueden copiar y pegar sistemas de salud de otros países”</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Andrea Srur <cite title="Source Title"> experta en sistemas de salud y políticas globales.</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://lacarabuenadelmundo.com/wp-content/uploads/2022/05/detectar-el-melanoma.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Crean una herramienta de inteligencia artificial que detecta el melanoma</h5>
      <p class="card-text">El melanoma es un tipo de tumor maligno responsable de más del 70 por ciento de todas las muertes relacionadas con el cáncer de piel en todo el mundo. Durante años, los médicos han confiado en la inspección visual para identificar lesiones pigmentadas sospechosas (SPL, por sus siglas en inglés), que pueden ser un indicio de cáncer de piel.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card bg-primary text-white text-center p-3">
    <blockquote class="blockquote mb-0">
      <p>España implantará un sistema pionero para facilitar la conducción con niebla</p>
      <footer class="blockquote-footer">
        <small>
         <cite title="Source Title">Dirección General de Tráfico (DGT) </cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">Científicos crean un dispositivo microrobot capaz de eliminar hemorragias cerebrales</h5>
      <p class="card-text">La creación de un dispositivo microrobot controlado magnéticamente que elimina la sangre acumulada en el cerebro durante un ictus ofrece esperanza ante los accidentes cerebrovasculares o aneurismas</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">EE.UU. y Corea del Sur comienzan este lunes sus mayores ejercicios militares conjuntos en cinco años</h5>
      <p class="card-text">Ambos países aseguran que son ejercicios de naturaleza defensiva para coordinar fuerzas ante una hipotética invasión de Corea del Norte, según informa la agencia de noticias Bloomberg.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>