<h1>Nacional</h1>

<hr>
<div class="card mb-3">
  <img class="card-img-top" src="https://imagenes.elpais.com/resizer/fTx3WTA9Z_zSM4Hu6LkOe4h6QjQ=/1960x0/filters:focal(505x145:515x155)/cloudfront-eu-central-1.images.arcpublishing.com/prisa/5K33LT5FTFAYTTATFCSU2IOO2Y.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Una nueva lista con datos positivos para el año nuevo</h5>
    <p class="card-text"> El mundo no empeora, mejora: 43 buenas noticias para empezar 2022 con optimismo</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Educación</h5>
        <p class="card-text">El desafío de llevar la igualdad de género a la sala de clases</p>
        <a href="#" class="btn btn-primary">Ver más</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Policial</h5>
        <p class="card-text">Adulto mayor muere baleado durante robo a su vivienda en Villa Alemana</p>
        <a href="#" class="btn btn-primary">Ver más</a>
      </div>
    </div>
  </div>
   <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Clima</h5>
        <p class="card-text">Reportan una persona fallecida y otras 2.017 aisladas en La Araucanía tras sistema frontal</p>
        <a href="#" class="btn btn-primary">Ver más</a>
      </div>
    </div>
  </div>
   <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">MotorSport</h5>
        <p class="card-text">La Fórmula 1 podría ser deporte olímpico</p>
        <a href="#" class="btn btn-primary">Ver más</a>
      </div>
    </div>
  </div>
</div>

<hr>
