<h1>Política</h1>

<div class="card-columns">
  <div class="card">
    <img class="card-img-top" src="https://www.latercera.com/resizer/80KPvyhXpZYg1yLku5Y6y9FJYYk=/400x267/smart/filters:quality(70):format(webp)/cloudfront-us-east-1.images.arcpublishing.com/copesa/SHRK2Y2WMZALDGNFR2IF2REYIQ.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Constitución</h5>
      <p class="card-text">“Veo difícil a qué acuerdo se puede llegar en ese caso (de triunfo del Rechazo)”: el escepticismo PC por un pacto amplio posplebiscito y los cálculos de la derecha</p>
    </div>
  </div>
  <div class="card p-3">
    <blockquote class="blockquote mb-0 card-body">
      <p>“A contar del 5 hay que seguir trabajando”: Senado y Cámara de Diputados defienden acuerdo posplebiscito ante cualquier resultado</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Políticos en <cite title="Source Title">Chile</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title"> Congreso despacha a ley proyecto que garantiza el pago efectivo de deuda de alimentos </h5>
      <p class="card-text">La iniciativa busca que las deudas se paguen a través de los fondos que el adeudado tenga en sus cuentas bancarias, instrumentos de inversión y financieros, y en las cuentas de ahorro previsional.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img" src="https://www.latercera.com/resizer/4vGaRGxAzg_v9ZUWjQaqXdDfIcc=/320x213/smart/filters:quality(70):format(webp)/cloudfront-us-east-1.images.arcpublishing.com/copesa/YO5QCUM4TZBMVOQ7BFFTPSLQGQ.jpg" alt="Card image">
  </div>
  <div class="card p-3 text-right">
    <blockquote class="blockquote mb-0">
      <p>Estas son los cuatro razones por las cuales una persona se puede excusar de votar en el plebiscito, según el Servel</p>
      <footer class="blockquote-footer">
    </footer>
    </blockquote>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Gobierno da a conocer medidas de seguridad de cara al plebiscito: 45 mil Carabineros en las calles y 904 comisarías operativas</h5>
      <p class="card-text">Por otro lado, desde el Servel indicaron que esperan que la participación el 4 de septiembre supere en cantidad al número de votantes que concurrió a la segunda vuelta presidencial del 2021.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>